div.summary{
    margin: auto;
}

button {
    width:90%;
    background-color: #18206c !important;
    color: white; 
    border: solid 1px #18206c;
    border-radius: 10px; 
    margin-bottom: auto;
    font-family: Barlow-Regular;
    font-size: 14px;
    font-weight: 600;

   
    } 
      