<div class="d-flex flex-column">
  <div class="font-subtitle"> {{"PaymentDetails.HEADER" | translate}}</div>
   
  <div class="d-flex flex-column justify-content-between">  
      <app-payment-details></app-payment-details> 
   </div>
 
  <div class="text-center">
    <u><a routerLink="/addCreditCard/true" class="font-semibold font-link">{{"PaymentDetails.ACTIOTEXT1" | translate}}</a></u>
  </div>
 
  <div class="text-center mt-5 pt-5">
    <a routerLink="/home" class="mt-5 pt-5"><button type="button" class="btn btn-primary">{{"PaymentDetails.TEXT1" | translate}}</button></a>
 </div>

</div>




