
<div class="d-flex flex-column">
  <img src="../../../assets/elements/info/shutterstock-1090201790-1.jpg" alt="">
  <h3 class="font-regular mt-3 mb-3">{{"Vat.INFO" | translate}}</h3>
  <h5 class="font-bold">{{"Vat.Text1" | translate}}</h5>
  <p class="mt-2 font-regular">
    {{"Vat.Text2" | translate}}
    <br>
    <br>
    {{"Vat.Text3" | translate}}
    <br>
    <br>
    {{"Vat.Text4" | translate}}
    <br>
    <br>
    {{"Vat.Text5" | translate}}
    <br>
    <br>
    {{"Vat.Text6" | translate}}
    <br>
    <br>
    {{"Vat.Text7" | translate}}
  </p>
</div>
