<section class="d-flex flex-column justify-content-around">

  <div class="d-flex flex-column justify-content-around linksInvoice">
    <div class="d-flex flex-row justify-content-between" *ngIf="isShowbanner">
      <h3 class="font-subtitle-bold">{{purchaseData.shopName}}</h3>
      <!-- <div *ngIf="isShowStatusApprove"><a routerLink="/pdfResult"><img
            src="../../assets/elements/elements-flag-statuse-approve.png"></a></div> -->
      <div *ngIf="isShowStatusApprove"><img src="../../../assets/elements/Approved.png" width="100px"
        height="30px"></div>
      <div *ngIf="!isShowStatusApprove"><img id="imgrejected" src="../../assets/elements/rejected.png" width="100px"
          height="30px"></div>
      <!--     <div *ngIf="isShowStatusNoRefund"><a routerLink="/noVATRefund"><img src="../../assets/elements/elements-flag-statuse-no-refund.png"></a></div> -->
    </div>
    <div class="font-regular-large">{{"Invoice.INVOICE_NO" | translate}}<u><a class="font-link-bold"
          routerLink="/purchasesDetailsByItem" [queryParams]="{id:purchaseId}">{{purchaseData.invoiceNumber}}</a></u>
    </div>
    <div *ngIf="isShowStatusApprove"><u><a (click)="goToPdf()" class="font-link-bold">{{"Invoice.VIEW_CONF" |
          translate}}</a></u></div>
  </div>


  <div class="d-flex flex-column justify-content-between purchase-details">

    <form [formGroup]="myForm">
      <mat-form-field appearance="none">
        <label class="font-lightBlue-small">{{"Invoice.DATE" | translate}}</label>
        <!-- <input value="purchaseData.datePurchase" matInput name="vatReclaim" readonly /> -->
        <input class="font-regular-medium" [value]="purchaseData.datePurchase | date:'dd/MM/yyyy'" matInput
          name="vatReclaim" readonly />
      </mat-form-field>

      <mat-form-field appearance="none">
        <label class="font-lightBlue-small">{{"Invoice.SHOP_NAME" | translate}}</label>
        <input class="font-regular-medium" [value]="purchaseData.shopName" matInput name="vatReclaim" readonly />
      </mat-form-field>

      <mat-form-field appearance="none">
        <label class="font-lightBlue-small">{{"Invoice.SHOP_ADDRESS" | translate}}</label>
        <input class="font-regular-medium" [value]="purchaseData.shopAdress" matInput name="vatReclaim" readonly />
      </mat-form-field>


      <mat-form-field appearance="none">
        <label class="font-lightBlue-small">{{"Invoice.SUM" | translate}}</label>
        <input class="font-regular-medium" matInput [value]="Amount" name="Amount" readonly />
      </mat-form-field>


      <mat-form-field appearance="none">
        <label class="font-lightBlue-small">{{"Invoice.REF" | translate}}</label>
        <input class="font-regular-medium" matInput [value]="purchaseData.invoiceNumber" name="sum" readonly />
      </mat-form-field>

      <mat-form-field appearance="none" *ngIf="isShowStatusApprove">
        <label class="font-lightBlue-small">{{"Invoice.VAT" | translate}}</label>
        <input class="font-regular-medium" matInput [value]="VatReclaims" name="vatReclaim" readonly />
      </mat-form-field>
      <mat-form-field appearance="none" *ngIf="!isShowStatusApprove">
        <label class="font-lightBlue-small">{{"Invoice.VAT" | translate}}</label>
        <input class="font-regular-medium" matInput [value]="0" name="vatReclaim" readonly />
      </mat-form-field>


      <!--  <div>
        <label class="font-lightBlue-small">{{"Invoice.IMAGE" | translate}}</label>
        <div><a><img src="../../../assets/icons/icons-invoice.png"></a></div>
      </div> -->
    </form>

    <!-- 
  <mat-form-field appearance="none" *ngIf="isShowInvoiceImg">
   <label class="font-lightBlue-small">Invoice Image</label>
    <div class="InvoicePhoto d-flex flex-column"> 
     <div class=" d-flex flex-row">
      <div class="browsing " >
        <a><img src="../../assets/elements/elements-left.png" class="displayed"></a>
      </div>
       <div class="photo">

       </div>
      <div class="browsing">
       <a><img src="../../assets/elements/elements-right.png"  class="displayed"></a>  
      </div>
    </div>
    
      <div class=text-center><u><a class="font-link-bold">Delete Invoice</a></u></div>
    </div>

    <div class=" d-flex flex-row justify-content-between ThreeCircles">
      <div class="circleBlue"></div>
      <div class="circlelightBlue"></div>
      <div class="circlelightBlue"></div>
    </div>
  </mat-form-field> -->

  </div>

  <!-- <div class="text-center mt-5 mb-4 ">
    <a class="mt-3" routerLink="/AddInvoice"><button type="button" class="btn btn-primary">{{"Invoice.ADD" |
        translate}}</button></a>
  </div> -->

</section>