div.backgroung{ 
        width: 327px;
        height: 373px;
        margin: auto;
        padding: 21px 17px 53px 16px;
        border-radius: 10px;
        background-color: #e9e9e9;
     }

     button {
        width:90%;
        background-color: #18206c !important;
        color: white; 
        border: solid 1px #18206c;
        border-radius: 10px; 
        margin-bottom: auto;
        font-family: Barlow-Regular;
        font-size: 14px;
        font-weight: 600;
        } 
        div.TakePic
        {
            height:300px;
        }
            
