  mat-card{
    margin: 20px 0px;
    border-radius: 18px !important;
  }
  div.ItemNumber{
    padding: 0px  0px 10px 0px;
  }
 
  input
  {
    font-family: Barlow-Regular;
    color: #011154;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 3rem !important;
    letter-spacing: normal;
  }

  mat-form-field{
    width:90% !important;
  }
// mat-form-field {
//   // width: 100% !important;
//   // height: 5rem !important;
//   // font-size: 14px !important;
//   line-height: 3rem !important;
// }

  //  hr{
  //   width: 99%;
  //   height: 1px;
  //   background-color: #c0d1f2;
  //   margin-top: 0rem;
  //   margin-bottom: 0.5rem;
  // }