footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #18206c;
}

a span{
    font-size: 0.75rem;
}
a{
    cursor: pointer;
}
img.home{
    width: 29px;
    height: 26px;
}

div.more{
position: fixed;
bottom: 73px;
right: 10px;
background-color: white;
width: 50%;
line-height: 2.5rem;
border-radius: 10px;
padding: 20px 20px 20px 10px;
}

img.refunds{
    width: 23px;
    height: 20px;
}

img.profile{
    width: 22px;
    height: 26px;
}

img.more{
    width: 25px;
    height: 25px;
}

img.shopVatFree{
    width: 25px;
    height: 25px;  
}

div.more a.font-bold{
  color: #4c6cac;
}


div.more a.font-medium {
  color: #3562fe !important;
}

.notification{
    position: absolute;
    top: 0;
    left:38px;
    text-align: center;
    font-weight: bold;
    font-family:Barlow-Regular;
    color: #ffffff;
    background-color: #f25151;
    border-radius: 50%;
    width:26px;
    height:26px;
    padding: 0 4px 1px;
    border: solid 2px #ffffff;
    display: inline-block;
    border-width:3px;
    font-size: small;
    z-index:10;
    
}

#container {

    position: relative;
  }

