div.pdf{
    width: 306px;
    height: 554px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(106, 114, 124, 0.22);
    background-color: #ffffff;
    margin: auto;
}
.pdfResult {
    height: 100%;
    width: 100%;
}