
<div class="sccMsg">
    <div class="text-center"><img src="../../../assets/icons/Green Check.png"></div> 
     <div class="d-flex flex-column justify-content-start text-center"> 
       <p class="font-subtitle-bold mt-4">{{"CCPopUpOK.HEADER" | translate}}</p>
      <!--  <p class="font-regular text-center">{{"CCPopUpOK.TEXT1" | translate}}</p> -->
        <a class="mt-4" (click)="goToSummary()"><button type="button"  class="btn btn-primary">{{"CCPopUpOK.BUTTON1" | translate}}</button></a>
     </div>
</div>


