<div class=store>
    <div class="text-left">     
        <img src="../../assets/elements/closePopUp.png" mat-dialog-close>
    </div>

    <div class="d-flex flex-column justify-content-start text-center">
        <div class="circle1"><img class="mark" src="../../../assets/icons/icons-earth-popup.svg"></div>
        <h4 class="font-subtitle-bold">{{StoreName}}</h4>
        <div class="font-regular-large">
            {{StoreAddres}}
            <!-- <div class="centerline">
    </div> -->
            <hr class="centerline">
            <div class="maindiv">
                <div class="subdiv">
                    <div class="subcircle">
                        <img src="../../../assets/icons/call_icon.svg" height="25px">
                    </div>
                    <p class="sub-text">{{"Store.Button1" | translate}}</p>
                </div>
                <div class="subdiv">
                    <div class="subcircle">
                        <img src="../../../assets/icons/navigation_icon.svg" height="25px">
                    </div>
                    <div style="width: 100%; margin: auto;">
                    <div class="sub-text">{{"Store.Button2" | translate}}</div>
                </div>
                </div>
                <div class="subdiv">
                    <div class="subcircle">
                        <img src="../../../assets/icons/view_on_map.svg" height="25px">
                    </div>

                    <p class="sub-text">{{"Store.Button3" | translate}}</p>
                </div>
            </div>

        </div>
    </div>
</div>