.store {
    height: 380px;
    width: 323px;
    padding: 26px 26px 26px 26px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(106, 114, 124, 0.22);
    margin: auto;
    background-color: #ffffff;
}

.circle1 {
    width: 60px;
    height: 60px;
    margin: 0 68px 20px;
    padding: 14px 27px 14px 26px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.mark {
    position: absolute;
    height: 77px;
    background-color: #ffffff;
    bottom: 1px;
    top: 0px;
}

.centerline {
    border-top: 2px solid #c8e2f3e1;
    width: 96%;
    margin-top: 40px;
}

.maindiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 17px;
}

.subdiv {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 47px;
}

.subcircle {
    width: 40px;
    height: 40px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.sub-text {
    font-size: 14px;
    color: cornflowerblue;
}