<div class="infMsg">
  <!-- <div class="text-left">     
    <img src="../../assets/elements/closePopUp.png" mat-dialog-close>
</div> -->
     <div class="d-flex flex-column justify-content-start text-center"> 
       <div class="circle"><img class="mark" src="../../../assets/icons/icons-blue.png"></div>
       <div class="font-regular-large text-center">
         {{"VatExplanation.TEXT1" | translate}}  
           <br><br>
           <u><a class="font-medium" href="https://www.gov.il/en/departments/guides/vat-refund-guide-for-tourists?chapterIndex=5" target="_blank" mat-dialog-close> {{"VatExplanation.TEXT2" | translate}} </a></u>
       </div>
    </div>
</div>