<section class="d-flex flex-column justify-content-around">
  
    <div class="d-flex flex-column justify-content-around linksInvoice">
      <div class="d-flex flex-row justify-content-between">
        <h3 class="font-subtitle-bold">{{purchaseData.shopName}}</h3> 
        <!-- <div><img src="../../assets/elements/elements-flag-statuse-approve.png"></div> -->
      </div>
      <div class="font-regular-large">{{"InvoiceItems.INVOICE_NO" | translate}}  {{purchaseData.invoiceNumber}}</div>
   </div>
   <div class="d-flex flex-column justify-content-between">
     <app-item-details></app-item-details>
   </div>
<section>
  
