<div class="oopsMsg">
    <!-- <div class="text-left">     
        <img src="../../assets/elements/closePopUp.png" mat-dialog-close>
    </div> -->
    <div class="text-center"><img src="../../../assets/icons/Blue error .png"></div> 
     <div class="d-flex flex-column justify-content-start text-center">  
       <h4 class="font-subtitle-bold">{{"PurchasesPopUp.HEADER" | translate}}</h4>
       <div class="font-regular-large">
        {{"PurchasesPopUp.TEXT1" | translate}}
        <br>
         <br>
        {{"PurchasesPopUp.TEXT2" | translate}}  
           <br>
           <br>
           <u><a  class="font-medium" routerLink="/contactUs">Open contact form</a></u>
       </div>
    </div>
</div>


