

 <div class="shpMsg">
    <!-- <div class="text-left">     
        <img src="../../assets/elements/closeForPopup.svg" mat-dialog-close>
    </div> -->

       <div class="text-center"><img src="../../assets/elements/earth-popup.png"></div>
       <p class="font-subtitle-bold mt-4 text-center">{{StoreName}}</p>
       <p class="font-regular-large mt-4  mb-4 text-center"> {{StoreAddres}} {{StoreCity}}</p>
       <hr>
       <div class="d-flex flex-row justify-content-center align-items-center" >

         
          <a class="p-1" [href]="'tel:' + StorePhone">
            <img  src="../../../assets/icons/Navigation 01.svg" alt="" />
            <span class="font-link-small">{{"Store.Button1" | translate}}</span>
          </a>


          <!-- <a class="p-1" (click)="openAppNavigation()"> 
            <img  src="../../../assets/icons/Navigation 02.svg" alt=""/>
            <span class="font-link-small">{{"Store.Button2" | translate}}</span>
          </a> -->

          <a class="p-1" (click)=" showOnMap()">
            <img  src="../../../assets/icons/Navigation 03.svg" alt="" />
            <span class="font-link-small">{{"Store.Button3" | translate}}</span>
          </a>

        </div>
</div>


